<body>
  <a class="backHome" routerLink="../"><< Back home</a>



  <h1>Bubble Graph 1</h1>
  <div class="graph">

    <h3> Blurby blurby blurb Blurby blurby blurbBlurby blurby blurbBlurby blurby blurbBlurby blurby blurbBlurby blurby blurb
        Blurby blurby blurbBlurby blurby blurbBlurby blurby blurbBlurby blurby blurbBlurby blurby blurbBlurby blurby blurb
        Blurby blurby blurbBlurby blurby blurbBlurby blurby blurbBlurby blurby blurbBlurby blurby blurbBlurby blurby blurbBlurby blurby blurb
        Blurby blurby blurbBlurby blurby blurbBlurby blurby blurbBlurby blurby blurbBlurby blurby blurbBlurby blurby blurbBlurby blurby blurbBlurby blurby blurb
        Blurby blurby blurbBlurby blurby blurbBlurby blurby blurbBlurby blurby blurbBlurby blurby blurbBlurby blurby blurb
    </h3>
    <h2>{{ this.title }}</h2>
    <ngx-charts-bar-vertical
    [view]="view"
    [scheme]="colorScheme"
    [results]="multi"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel">
  </ngx-charts-bar-vertical>
  </div>
</body>
